<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ relative_path }}Home.html">Navigation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            See More!
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for webpage in pages.webpages %}
            <li><a class="dropdown-item" href="{{ relative_path }}{{ webpage.slug }}.html">{{ webpage.title }}</a>
            {# <a class="dropdown-item" href="{{ relative_path }}webpages/{{ webpage.slug}}.html">{{ webpage.title }}</a> #}
            </li>
            {% endfor %}
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>