{% extends '_templates/base.njk' %}

{% block page_title %}The Hazel Fanpage{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}



{% block content %}
{# <script>
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min); // The maximum is exclusive and the minimum is inclusive
}
 let jsphotos = []
  {% for photo in content.photos %}
  jsphotos.push("{{photo.imgName}}")
  {% endfor %}
  {# {% for i in jsphotos %} #}
{# <img src= {{jsphotos}} alt=""> #}
{# </script> #}


<div class="container">
  <h1 class="welcome">Hazel "Ten-Ten" Fanpage!</h1>
  <p>Ten-Ten is a two-year-old living in Houston, Texas. She likes playing with other dogs, herding, and roughousing. She is very stupid, but she has a good heart.</p>
</br>
  <div class="container"> 
    <img src='img/Dogsmile.jpg' alt="" class="bannerimg img-fluid mx-auto d-block">
  </div>
</br>
  <h2 class="info">Who's that girl?</h2>
  <p>She can generally be found <strike>sleeping</strike> guarding the sliding door, on a couch, or on a walk. She is renowned for her distinctive "eyebrow" and her abundant energy. Wonderful, incredible dog, but they don't give the Nobel Peace Prize to dogs; I checked; I nominated her.</p>

</div>
{% endblock %}