// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

body{
  background-color:#C7FCFF;
}

#title {
  font-size: 60pt;
  
}

h3 {
  font-size: 12pt;
  font-family:'Montserrat Alternates', sans-serif;
}

h1 {
  font-family:'Montserrat Alternates', sans-serif;
}

h2 {
  font-family:'Montserrat Alternates', sans-serif;
}

.welcome {
  font-size: 60px;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 3px solid #9E4A13;
}

p {
  font-family:'Montserrat Alternates', sans-serif;
}

.photoTitles {
  text-align: center;
  font-style: "serif";
  color:#9E4A13;
}

.bannerimg {
  height: 400px;
  border-radius: 5px;
  border-color:#9E4A13;
  border-style: groove;
  border: 5px;
}

.Gallery {
  width: auto;
  height: 300px;
  align-items: center;
  border-radius: 10px;
  border: 10px;
  border-style:inset;
  border-color:#9E4A13;
}

.dads {
  height: 200px;
  width:300px;
}

.caption {
  text-align: center;
  font-size: 20px;
  font-family: 'Patrick Hand';
  color:#000000;
  text-decoration: none;
}

.polaroid {
  background-color:#FFFFFF;
  padding-top:8px;
  border: radius 1px;
  margin:5px;
}

.info{
  text-align:center;
}

a {
  // font-style: "serif";
  // color:#9E4A13;
  text-decoration: none;
}

a:hover {
  color:#E86713;
  text-decoration: none;
}